* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.container .row {
  content: "";
  display: table;
  clear: both;
  padding: 0 auto;
}

.container .row .jt {
  background-image: url("/storage/assets/jumbotron.jpg");
  width: 100vw;
  height: 500px;
}

.container ul {
  list-style: none;
}

.container.hed {
  flex-direction: column;
}

.container.hed .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container.hed .row .logo {
  content: "";
  display: table;
  clear: both;
  padding: 5px;
}

.container.hed .row .logo img {
  height: 35px;
}

.container.hed .row .lst-menu {
  display: flex;
  justify-content: space-around;
}

.container.hed .row .lst-menu li {
  padding: 10px;
  border-bottom: 3px solid white;
}

.container.hed .row .lst-menu li:hover {
  border-bottom: 3px solid skyblue;
}

.container.hed .row .lst-menu li:hover a {
  text-decoration: none;
  color: skyblue;
}

.container.hed .row .lst-menu li a {
  color: lightslategray;
  text-decoration: none;
}

.container.main {
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 20%;
  background-color: black;
}

.container.main .tit-home {
  position: absolute;
  top: 450px;
  left: 20%;
  z-index: 3;
  content: "";
  display: table;
  clear: both;
}

.container.main .card {
  width: 170px;
  height: 280px;
  margin: 10px;
}

.elem {
  background-color: white;
}

