* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.container .row {
  content: "";
  display: table;
  clear: both;
  padding: 0 auto;
}

.container .row img {
  width: 100vw;
  position: relative;
  z-index: 0;
}

.container .row.current .lt-title {
  position: absolute;
  left: auto;
  z-index: 1;
}

.container ul {
  list-style: none;
}

