* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.container .row {
  content: "";
  display: table;
  clear: both;
  padding: 0 auto;
}

.container .row .jt {
  background-image: url("/storage/assets/jumbotron.jpg");
  width: 100vw;
  height: 500px;
}

.container ul {
  list-style: none;
}

.container.hed {
  flex-direction: column;
}

.container.hed .row {
  display: flex;
  flex-direction: column;
}

.container.hed .row .lst-menu {
  display: flex;
  flex-direction: column;
}

.container.hed .row .lst-menu li:hover {
  border-bottom: 3px solid skyblue;
}

.container.hed .row .lst-menu li a {
  color: lightslategray;
}

.container.hed .row .lst-menu li a:hover {
  text-decoration: none;
  color: skyblue;
}

.container.main {
  flex-wrap: wrap;
}

.container.main .card {
  width: 150px;
}

