// pagina principale css

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    background-color: darkgoldenrod;
}

.container {
    display: flex;

    align-items: center;
    justify-content: space-around;

    ul {
        list-style: none;
    }
}